{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
<div class="pagina-inicial">
    {% include 'galeria/partials/_header.html' %}
    <main class="principal">
        {% include 'galeria/partials/_menu-lateral.html' %}
        <section class="conteudo justify-content-center">
            <div class="pagina-sucesso">
                <div class="card-sucesso">
                  <h1>Sucesso!</h1>
                  <p>Seu cadastro foi realizado com sucesso.</p>
                  <a href="{% url 'index' %}">Voltar à página inicial</a>
                </div>
              </div>
        </section>
    </main>
</div>
{% endblock %}